<div class="card course-card">
    <div class="card-img-top bg-pulse-grey" style="height: 7rem">
        <img class="w-100 h-100 object-fit-cover" src="{{courseimage}}" alt="{{fullname}}" />
    </div>
    <div class="card-body">
        <h4 class="card-title"><a href="{{viewurl}}">{{{fullname}}}</a></h4>
        <p class="card-text">{{#shortentext}}140, {{{summary}}}{{/shortentext}}</p>
    </div>
    <div class="card-footer">
        <a href="{{viewurl}}" class="btn btn-primary">{{#str}}get_access, theme_moove{{/str}} <i class="fa fa-arrow-right ml-1"></i></a>
    </div>
</div>